<h1>Welcome to WEBD 6201</h1>
<div class="mb-3">
    <table>
        <tr>
            <td>
                <img id="homeImage" src="../Assets/images/homeBG.jpg" alt="Computer Programmer">
            </td>
            <td>
                <p>We provide the best programming service for you...</p>
            </td>
        </tr>
    </table>
</div>
