<h1>Welcome to WEBD 6201</h1>
<div class="mb-3">
    <table>
        <tr>
            <td>
                <img id="homeImage" src="../Assets/images/homeBackground.jpg" alt="Computer Programmer">
            </td>
            <td>
                <p id="homeParagraph">We provide the best programming service for you...</p>
            </td>
        </tr>
    </table>
</div>
