<h1>About Us</h1>

<div class="mb-3">
    <table>
        <tr>
            <td>
                <img id="myImage" src="../Assets/images/nelson.jpg" alt="Nelson Lau">
            </td>
            <td>
                <p id="myIntro">Hi, my name is Nelson Lau, I am a student of Durham Collage who study computer programming. 
                    I am learning various kinds of programming, web design and development, also I have a well knowledge on computer hardware.</p>
            </td>
        </tr>
    </table>
</div>