<h1>Our Projects</h1>
<table>
    <tr>
        <div class="row">
            <div class="col-md-3">
                <img src="../Assets/images/hardware.jpg" class="rounded-circle" alt="computer hardware">
            </div>
            <div class="col-md-8">
                <h4> Computer System Hardware. </h4>
                <p> Through this project I learn how to identify and describe computer components and 
                peripherals and how to build and troubleshoot systems from a hardware perspective. </p>
            </div>
        </div>
    </tr>
    <tr>
        <div class="row">
            <div class="col-md-3">
                <img src="../Assets/images/mainframe.jpg" class="rounded-circle" alt="mainframe development">
            </div>
            <div class="col-md-8">
                <h4> Mainframe Development</h4>
                <p> This project uses COBOL programming language for application programs and systems for Mainframe computing. 
                It provides us with a foundation in problem analysis, program design and implementation that can be applied 
                in a variety of programming situations and languages.</p>
            </div>
        </div>
    </tr>
    <tr>
        <div class="row">
            <div class="col-md-3">
                <img src="../Assets/images/networking.jpg" class="rounded-circle" alt="computer networking">
            </div>
            <div class="col-md-8">
                <h4> Web Development</h4>
                <p> Created server-side web applications using the PHP scripting language and achieved database functionality 
                with performing SQL queries running on the server.</p>
            </div>
        </div>
    </tr>
</table>