<h1>Our Services</h1>
<table>
    <tr>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="../Assets/images/hardware.jpg" alt="computer hardware">
            </div>
            <div class="col-md-8">
                <h4> Computer System Hardware. </h4>
                <p> We have a great knowledge on assembling a computer. We will use the best hardware component to meet your needs. 
                    And we have the best team to provide maintenance service for you.</p>
            </div>
        </div>
    </tr>
    <tr>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="../Assets/images/mainframe.jpg" alt="mainframe development">
            </div>
            <div class="col-md-8">
                <h4> Mainframe Development</h4>
                <p> We develop various kind of softwares for mainframe systems.</p>
            </div>
        </div>
    </tr>
    <tr>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="../Assets/images/networking.jpg" alt="computer networking">
            </div>
            <div class="col-md-8">
                <h4> Web Development</h4>
                <p> We can help with constructing network for your company. We are good at web design and development of web pages that fit your need.</p>
            </div>
        </div>
    </tr>
</table>